page-init {

}

#init-status {
	list-style: none;
	text-align: center;
	color: #fff;
	padding-left: 0;
}

ul#init-status :nth-child(1) {
  color: #000;
}

ul#init-status :nth-child(2) {
  color: #aaa;
}

ul#init-status :nth-child(3) {
  color: #ccc;
}
